
dj-database-url==2.2.0

Django==3.2.1
django-cors-headers==4.1.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2

gunicorn==22.0.0

psycopg2-binary==2.9.9


Pygments==2.8.1
PyJWT==2.8.0


traitlets==5.0.5
typing_extensions==4.7.1
tzdata==2022.1
tzlocal==2.1

validators==0.18.2

whitenoise==6.7.0
Pillow==9.5.0


